.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-----------------------------------------*/

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
}
#title {
  font-size: 1.25vw;
  font-family: sans-serif;
  text-align: center;
}
#title > span {
  font-size: 2vw;
}
#root {
  display: flex;
  flex-direction: column;
}
#teamContainer {
  display: flex;
  flex-direction: row;
}
.team {
  display: flex;
  width: 40vw;
  height: 35vw;
  margin: 5vw;
  margin-top: 2.5vw;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
}
.team h1 {
  font-family: sans-serif;
  margin-left: 4%;
  font-size: 2.5vw;
  font-weight: 400;
}
.team img {
  object-position: center;
  object-fit: cover;
  width: 120%;
  height: 30%;
}
.team button {
  width: 50%;
  height: 10%;
  align-self: center;
  background-color: transparent;
  font-size: 1.25vw;
  margin: 2vw;
}
#stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.statBox {
  border-radius: 10%;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
}
.statBox > p {
  margin: 0;
}
#Pacers {
  background-color: #002d62;
}
#Pacers h1 {
  color: #fdbb30;
}
#Pacers .statBox {
  border: #bec0c2 solid 1px;
  color: #bec0c2;
}
#Pacers button {
  border: solid #fdbb30 4px;
  color: #fdbb30;
}
#Clippers {
  background-color: #c8102e;
}
#Clippers h1 {
  color: #bec0c2;
}
#Clippers button {
  border: solid #002d62 4px;
  color: #002d62;
}
#Clippers .statBox {
  border: #bec0c2 solid 1px;
  color: #bec0c2;
}
